/* game board table */
body {
	margin: 0 auto;
	height: 100vh;
	width: 100vw;
	/* background-image: url('https://motionarray.imgix.net/preview-241367-KTZaS2Nu4A-high_0001.jpg'); */
	background-size: cover;
}

#main-div {
	display: inline-flex;
	height: 100%;
	width: 100%;
	position: relative;
	left: 0px;
}
#game {
	position: absolute;
	left: 0px;
	background-image: url('https://steamuserimages-a.akamaihd.net/ugc/772777980563983447/CAD2C3FDCF426DF9D4C794AA16480E00561A6587/');
	background-size: cover;
	width: 60%;
	height: 100%;
}

#score-panel {
	background-image: linear-gradient(to bottom left, rgb(255, 49, 49), rgb(38, 38, 255));
	position: absolute;
	right: 0px;
	width: 40%;
	height: 100%;
	box-shadow: -6px -6px 5px rgba(0, 0, 0, 0.5);
}

#high-score {
	background-color: rgba(58, 137, 177, 0.3);
	position: relative;
	display: block;
	margin: 25px auto;
	border: 3px solid white;
	height: 35%;
	width: 80%;
	padding: 10px;
	border-radius: 1em;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	text-align: center;
	transform: translateY(-5px);
}

#curr-score {
	background-color: rgba(58, 137, 177, 0.3);
	position: relative;
	display: block;
	margin: 25px auto;
	bottom: 10px;
	border: 3px solid white;
	height: 35%;
	width: 80%;
	padding: 10px;
	border-radius: 1em;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	text-align: center;
}

#score-panel h1 {
	color: white;
	font-size: 30pt;
	height: fit-content;
	transform: translateY(-5px);
	text-align: center;
	font-family: 'Quantico', sans-serif;
	margin: 5px 0 10px 0;
}

#game h1 {
	color: white;
	font-size: 50pt;
	text-align: center;
	font-family: 'Lobster', cursive;
	margin: 20px 0px 30px 0px;
}

h2 {
	font-family: 'Hind', sans-serif;
	font-weight: lighter;
	text-align: center;
	display: inline-block;
}

.p1-title {
	font-family: 'Quantico', sans-serif;
	color: rgb(255, 49, 49);
}

.p2-title {
	font-family: 'Quantico', sans-serif;
	color: rgb(38, 38, 255);
}

.black-box {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 22px;
	height: 60%;
	width: 80%;
	border-radius: 1em;
	background-color: rgb(0, 0, 0);
	border: 4px solid white;
}

.p1-half {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0px;
}

.p2-half {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0px;
}

.score {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -36%;
	display: block;
	color: white;
	font-size: 50pt;
	font-weight: bold;
	font-family: 'Quantico', sans-serif;
}

.score::content {
	transition-duration: 0.5s;
}

#p1-high-score {
	color: rgb(255, 49, 49);
}

#p2-high-score {
	color: rgb(38, 38, 255);
}

.button {
	display: inline-block;
	transition-duration: 0.2s;
	height: 7.5%;
	width: 28%;
	background-color: black;
	position: relative;
	margin: 0 15px;
	bottom: 10px;
	border: 3px solid white;
	padding: 10px;
	border-radius: 1em;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	font-size: 12pt;
	color: white;
	letter-spacing: 2px;
	text-align: center;
	text-: ;
	font-family: 'Hind', sans-serif;
	outline: none;
}

#reset-section {
	text-align: center;
}

.button:hover {
	transition-duration: 0.3s;
	background-image: linear-gradient(to bottom, white, gray);
	color: black;
	border: 3px solid limegreen;
}

.button:active {
	transition-duration: 0.2s;
	background-image: linear-gradient(to bottom, gray, white);
}

#board-wrapper {
	position: relative;
	background: black;
	height: fit-content;
	width: fit-content;
	border-radius: 1.5em;
	margin: 0 auto;
	box-shadow: 5px 5px 3px black;
}

#board-back {
	z-index: 1;
	position: relative;
	margin: 0 auto;
	background-image: linear-gradient(to bottom, rgb(123, 140, 249), white);
	border-radius: 1.5em;
	padding: 6px;
}

#board-back td {
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
}

#board {
	z-index: 3;
	position: absolute;
	top: 0px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 1.5em;
	padding: 6px;
	/* box-shadow: 3px 3px 3px rgb(100, 100, 100); */
}

#board td {
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgb(0, 0, 0, 0);
	border: 1px solid rgb(255, 255, 255);
	box-shadow: 1px 1px 0px black;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
	/* TODO: make into circles */
	z-index: 2;
	position: absolute;
	/* margin: 5px; */
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
	background-color: rgb(225, 0, 0);
}
.p2 {
	background-color: rgb(0, 0, 225);
}
/* column-top is table row of clickable areas for each column */

#column-top-back td {
	position: relative;
	background-color: rgb(255, 255, 255);
}

#column-top td {
	position: relative;
	border: 1px inset rgb(255, 255, 255);
	box-shadow: 0px 0px 0px black;
}

/* #column-top td:hover .hover-piece-p1 {
	background-color: rgba(225, 0, 0, .4);
}

#column-top td:hover .hover-piece-p2 {
	background-color: rgba(0, 0, 225, .4);
} */

.hover-piece-p1 {
	z-index: 2;
	width: 0;
	height: 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
}
.hover-piece-p2 {
	z-index: 2;
	width: 0;
	height: 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
}

#column-top td:hover .hover-piece-p1 {
	transition-duration: 0.4s;
	width: 100%;
	height: 100%;
	background-color: rgba(225, 0, 0, .4);
}

.hover-piece-p1:active {
	background-color: rgb(225, 0, 0);
}

#column-top td:hover .hover-piece-p2 {
	transition-duration: 0.4s;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 225, .4);
}

.hover-piece-p2:active {
	background-color: rgb(0, 0, 225);
}

.cell-wrapper {
	transition-duration: .5s;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.fall-r0 {
	position: relative;
	animation-name: fall-animation-r0;
	animation-duration: 300ms;
	animation-timing-function: , gray;
	z-index: 2;
}

.fall-r1 {
	position: relative;
	animation-name: fall-animation-r1;
	animation-duration: 270ms;
	animation-timing-function: , gray;
	z-index: 2;
}

.fall-r2 {
	position: relative;
	animation-name: fall-animation-r2;
	animation-duration: 240ms;
	animation-timing-function: , gray;
	z-index: 2;
}

.fall-r3 {
	position: relative;
	animation-name: fall-animation-r3;
	animation-duration: 210ms;
	animation-timing-function: , gray;
	z-index: 2;
}

.fall-r4 {
	position: relative;
	animation-name: fall-animation-r4;
	animation-duration: 180ms;
	animation-timing-function: , gray;
	z-index: 2;
}

.fall-r5 {
	position: relative;
	animation-name: fall-animation-r5;
	animation-duration: 150ms;
	animation-timing-function: , gray;
	z-index: 2;
}

@keyframes fall-animation-bounce {
	from {
		transform: translateY(-15px);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes fall-animation-r0 {
	from {
		transform: translateY(-372px);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes fall-animation-r1 {
	from {
		transform: translateY(-307px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes fall-animation-r2 {
	from {
		transform: translateY(-246px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes fall-animation-r3 {
	from {
		transform: translateY(-184px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes fall-animation-r4 {
	from {
		transform: translateY(-122px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes fall-animation-r5 {
	from {
		transform: translateY(-59px);
	}
	to {
		transform: translateY(0);
	}
}
