/* game board table */
body {
	background-image: url('https://motionarray.imgix.net/preview-241367-KTZaS2Nu4A-high_0001.jpg');
	background-size: cover;
}

#main-div {
	display: inline-flex;
	height: 100%;
	width: 100%;
	padding: 10px;
}
#prev-score {
	background-color: rgba(225, 225, 225, 0.4);
	border: 3px outset;
	display: inline-block;
	width: 30%;
	right: 110%;
	margin: 0px;
	padding: 10px;
	border-radius: 1em;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	text-align: center;
}

#game {
	display: inline-block;
	background-color: white;
	border: 3px outset;
	width: 30%;
	padding: 10px;
	margin: 0 1.5%;
	border-radius: 1em;
	position: relative;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#current-score {
	background-color: rgba(225, 225, 225, 0.4);
	border: 3px outset;
	display: inline-block;
	width: 30%;
	right: 110%;
	margin: 0px;
	padding: 10px;
	border-radius: 1em;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

h1 {
	font-size: 30pt;
	text-align: center;
	font-family: 'Hind', sans-serif;
}

#game h1 {
	font-size: 50pt;
	text-align: center;
	font-family: 'Lobster', cursive;
}

h2 {
	font-family: 'Hind', sans-serif;
	font-weight: lighter;
	text-align: center;
}

#board-wrapper {
	position: relative;
	background: black;
	height: fit-content;
	width: fit-content;
	border-radius: 1.5em;
}

#board-back {
	z-index: 1;
	position: relative;
	margin: 0 auto;
	background-color: rgb(155, 155, 155);
	border-radius: 1.5em;
	border: 1px solid rgb(95, 95, 95);
	padding: 3px;
	/* box-shadow: 3px 3px 3px rgb(100, 100, 100); */
}

#board-back td {
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	/* border: solid 1px rgb(255, 255, 255); */
}

#board {
	z-index: 3;
	position: absolute;
	top: 0px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 1.5em;
	border: 1px solid rgb(95, 95, 95);
	padding: 3px;
	/* box-shadow: 3px 3px 3px rgb(100, 100, 100); */
}

#board td {
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(0, 0, 0, 0);
	border: solid 1px rgb(255, 255, 255);
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
	/* TODO: make into circles */
	z-index: 2;
	position: absolute;
	/* margin: 5px; */
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
	background-color: rgb(225, 0, 0);
}
.p2 {
	background-color: rgb(0, 0, 225);
}
/* column-top is table row of clickable areas for each column */

#column-top-back td {
	position: relative;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(182, 182, 182);
}

#column-top td {
	position: relative;
}

/* #column-top td:hover .hover-piece-p1 {
	background-color: rgba(225, 0, 0, .4);
}

#column-top td:hover .hover-piece-p2 {
	background-color: rgba(0, 0, 225, .4);
} */

.hover-piece-p1 {
	z-index: 2;
	width: 0;
	height: 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
}
.hover-piece-p2 {
	z-index: 2;
	width: 0;
	height: 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
}

#column-top td:hover .hover-piece-p1 {
	transition-duration: 0.4s;
	width: 100%;
	height: 100%;
	background-color: rgba(225, 0, 0, .4);
}

.hover-piece-p1:active {
	background-color: rgb(225, 0, 0);
}

#column-top td:hover .hover-piece-p2 {
	transition-duration: 0.4s;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 225, .4);
}

.hover-piece-p2:active {
	background-color: rgb(0, 0, 225);
}

.cell-wrapper {
	transition-duration: .5s;

	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.fall-r0 {
	transition-duration: 0.3s;
	position: relative;
	animation-name: fall-animation-r0;
	animation-duration: 2000ms;
	z-index: 2;
}

.fall-r1 {
	transition-duration: 0.3s;
	position: relative;
	animation-name: fall-animation-r1;
	animation-duration: 2000ms;
	z-index: 2;
}

.fall-r2 {
	transition-duration: 0.3s;
	position: relative;
	animation-name: fall-animation-r2;
	animation-duration: 2000ms;
	z-index: 2;
}

.fall-r3 {
	transition-duration: 0.3s;
	position: relative;
	animation-name: fall-animation-r3;
	animation-duration: 2000ms;
	z-index: 2;
}

.fall-r4 {
	transition-duration: 0.3s;
	position: relative;
	animation-name: fall-animation-r4;
	animation-duration: 2000ms;
	z-index: 2;
}

.fall-r5 {
	transition-duration: 0.3s;
	position: relative;
	animation-name: fall-animation-r5;
	animation-duration: 2000ms;
	z-index: 2;
}

@keyframes fall-animation-r0 {
	from {
		transform: translateY(-312px);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes fall-animation-r1 {
	from {
		transform: translateY(-259px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes fall-animation-r2 {
	from {
		transform: translateY(-208px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes fall-animation-r3 {
	from {
		transform: translateY(-155px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes fall-animation-r4 {
	from {
		transform: translateY(-102px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes fall-animation-r5 {
	from {
		transform: translateY(-49px);
	}
	to {
		transform: translateY(0);
	}
}
